<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class = "card" border>
            <ionitem class = "item-text-wrap">
              <ionlist>
                <label class = "item item-input">
                  <input type = "email" placeholder = "Email">
                </label>
                <label class = "item item-input">
                  <input type = "password" placeholder = "Password">
                </label>
              </ionlist>
            </ionitem>            
          </div>

          <div class = "card">
            <ionitem class = "item-text-wrap">
              <button class="button button-dark button-block"> 
              Login
            </button>
            <button class="button button-stable button-block"> 
              Cancel
            </button>
            </ionitem>
          </div>
  </ion-content>
</ion-modal-view>
